@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

html,
body {
  @apply bg-base-300;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  @apply max-w-350;
  @apply mx-auto;
}
